@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
#container {
  text-align: center;
  max-width: 960px;
  height: 55vh;
  margin: 20% auto; }

#drum-machine {
  height: 100%;
  background-color: #363636; }
  #drum-machine .button {
    background-color: #B7B7B7; }

#drum-pads .drum-pad {
  height: 100%;
  color: black; }
  #drum-pads .drum-pad span {
    pointer-events: none; }

#interface #display-div {
  border: 0.5px solid black;
  height: 92px;
  margin: 20px;
  border-radius: 4px;
  background-color: rgba(187, 60, 70, 0.6); }
  #interface #display-div #display {
    text-transform: uppercase; }

#interface #controls {
  height: 80%; }
  #interface #controls #bank {
    margin: 10px 0; }
  #interface #controls #volume-control #volume {
    display: flex;
    height: 300px;
    width: 1px;
    margin: auto; }
  #interface #controls #power {
    margin: 10px 0; }
  #interface #controls .led {
    border: 0.5px solid black;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    margin: 7px auto;
    background-color: rgba(110, 35, 41, 0.6); }
  #interface #controls .bank-led {
    margin: auto; }
    #interface #controls .bank-led .led {
      display: inline-block;
      margin: 7px; }
  #interface #controls .led-active {
    background-color: yellow; }

.classes-state-thumb {
  width: 20px !important;
  height: 40px !important;
  border-radius: 0 !important;
  background-color: #535353 !important; }

.classes-state-trackBefore {
  background-color: black !important; }

.classes-state-trackAfter {
  background-color: #595959 !important; }
